.dojoToasterClip {
	position: absolute;
	overflow: hidden;
}

.dojoToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	z-index: 5000;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}

.dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	border-width: 1px;
	border-color: #444488;
	background-color : #F0F0F0;
	border-style: solid;
}

.dojoToasterMessage{ 
	color:#000000;
}
.dojoToasterWarning{ }
.dojoToasterError,
.dojoToasterFatal{
	font-weight:bold;
	color:#fff;
}

.dojoToasterInfo .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#CCFFFF;
	background-repeat: no-repeat;;
	background-image: url("info.png");
	padding-left: 25px;
} 

.dojoToasterWarning .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#FFCC99;
	border-color: #FF3300;
	color: #FF3300;
	background-repeat: no-repeat;;
	background-image: url("warning.png");
	padding-left: 25px;
} 

.dojoToasterError .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#FF9999;
	border-color: red;
	color: red;
	background-repeat: no-repeat;;
	background-image: url("error.png");
	padding-left: 25px;
} 
