<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>

<wicket:panel>

    <div class="progress" wicket:id="wrapper" style="position: relative;">
        <div class="bar" wicket:id="bar" style="position: absolute; z-index: 1;">&nbsp;</div>
        <div class="message" wicket:id="message"
             style="position: absolute; text-align: center; width: 100%; z-index: 2;">[message]
        </div>
    </div>

</wicket:panel>

</body>
</html>