<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/">
<body>
	<div>
		<wicket:panel>
			<span wicket:id="detailTitle" class="jamonDetailTitle">Details
				of Monitor</span>
			<table class="jamonDetailTable">
				<thead>
					<tr class="headers">
						<td>Time Window</td>
						<td>Hits</td>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="detailRow">
						<td><span wicket:id="timeWindow">0 - 10 ms</span></td>
						<td><span wicket:id="numberOfHits">34</span></td>
					</tr>
				</tbody>
			</table>
		</wicket:panel>
	</div>
</body>
</html>