<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/">
<body>
	<wicket:panel>
		<form wicket:id="adminForm">
			<table class="jamonAdminTable">
				<thead>
					<tr class="headers">
						<th>label</th>
						<th>reset</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even">
						<td><input type="text" wicket:id="monitorLabel" /></td>
						<td><input type="button" wicket:id="reset" value="reset" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</wicket:panel>
</body>
</html>