<style type="text/css">
/*<![CDATA[*/
${containerSelector}{
  margin-right: 1%;
}
${handleSelector}{
  cursor: move;
}
.${helperclass}{
    border: 1px dashed #666;
    width: auto !important;
}
/*]]>*/
</style>
<script type="text/javascript">
	var ${dndHandlerStart} = function(){
	  $('${containerSelector}').Sortable({
		${options}
		onStart : function(){
		  DnDSortableBehavior.start(this,'${containerSelector}', '${itemSelector}');
		  $.iAutoscroller.start(this, document.getElementsByTagName('body'));
			  },
		onStop : function(){
		  $.iAutoscroller.stop();
		  DnDSortableBehavior.stop(this,'${containerSelector}', '${itemSelector}');
		  if (DnDSortableBehavior.isMoved()) {
			var wcall = wicketAjaxGet('${callbackUrl}&' + DnDSortableBehavior.asQueryString(), function(){}, function(){});
		  }
		},
		onChange : function(changed) {
		}
	  });
	};
	var ${dndHandlerStop} = function(){
	  $('${containerSelector}').SortableDestroy();
	};
</script>
