<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		version="6.0">
		<display-name>Wicket Examples</display-name>

		<filter>
				<filter-name>ControlsGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.controls.ControlsGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>BothGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.both.BothGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>GeoCodeGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.geocode.GeoCodeGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>ListenGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.listen.ListenGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>ListenGMarkerApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.listen.overlay.simple.ListenGMarkerApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>AdvancedListenGMarkerApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.listen.overlay.advanced.ListenGMarkerApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>MarkerGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.marker.MarkerGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>TriggerGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.trigger.TriggerGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>CustompointGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.custompoint.CustompointGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>RefreshPointGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.refreshpoint.RefreshPointGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>ManyGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.many.ManyGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>InfoWindowGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.info.InfoWindowGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>SimpleGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.simple.SimpleGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>ZoomLimitGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.zoomlimit.ZoomLimitGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>GGroundOverlayGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.ggroundOverlay.GGroundOverlayApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>PolygonesGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.polygones.PolygonesGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
			<filter-name>CirclesGMapApplication</filter-name>
			<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
			<init-param>
				<param-name>applicationClassName</param-name>
				<param-value>org.wicketstuff.examples.gmap.circles.CirclesGMapApplication</param-value>
			</init-param>
		</filter>

		<filter>
			<filter-name>RectanglesGMapApplication</filter-name>
			<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
			<init-param>
				<param-name>applicationClassName</param-name>
				<param-value>org.wicketstuff.examples.gmap.rectangles.RectanglesGMapApplication</param-value>
			</init-param>
		</filter>

		<filter>
				<filter-name>SimpleAjaxGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
					<param-value>org.wicketstuff.examples.gmap.simple.ajax.SimpleGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>AdvancedInfoWindowGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.info.advanced.AdvancedInfoWindowGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>BoundsGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.bounds.BoundsGMapApplication</param-value>
				</init-param>
		</filter>

		<filter>
				<filter-name>ClusteringGMapApplication</filter-name>
				<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
				<init-param>
						<param-name>applicationClassName</param-name>
						<param-value>org.wicketstuff.examples.gmap.clustering.ClusteringGMapApplication</param-value>
				</init-param>
		</filter>

		<filter-mapping>
				<filter-name>GeoCodeGMapApplication</filter-name>
				<url-pattern>/geocode/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ListenGMapApplication</filter-name>
				<url-pattern>/listen/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ListenGMarkerApplication</filter-name>
				<url-pattern>/markerListener/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>AdvancedListenGMarkerApplication</filter-name>
				<url-pattern>/markerListenerAdvanced/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>BothGMapApplication</filter-name>
				<url-pattern>/both/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>TriggerGMapApplication</filter-name>
				<url-pattern>/trigger/*</url-pattern>
		</filter-mapping>


		<filter-mapping>
				<filter-name>MarkerGMapApplication</filter-name>
				<url-pattern>/marker/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>CustompointGMapApplication</filter-name>
				<url-pattern>/custompoint/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>RefreshPointGMapApplication</filter-name>
				<url-pattern>/refreshpoint/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ManyGMapApplication</filter-name>
				<url-pattern>/many/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ControlsGMapApplication</filter-name>
				<url-pattern>/controls/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>InfoWindowGMapApplication</filter-name>
				<url-pattern>/info/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>SimpleGMapApplication</filter-name>
				<url-pattern>/simple/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ZoomLimitGMapApplication</filter-name>
				<url-pattern>/zoomlimit/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>GGroundOverlayGMapApplication</filter-name>
				<url-pattern>/overlay/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>PolygonesGMapApplication</filter-name>
				<url-pattern>/polygones/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
			<filter-name>CirclesGMapApplication</filter-name>
			<url-pattern>/circles/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
			<filter-name>RectanglesGMapApplication</filter-name>
			<url-pattern>/rectangles/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>SimpleAjaxGMapApplication</filter-name>
				<url-pattern>/simple/ajax/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>AdvancedInfoWindowGMapApplication</filter-name>
				<url-pattern>/info/advanced/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>BoundsGMapApplication</filter-name>
				<url-pattern>/bounds/*</url-pattern>
		</filter-mapping>

		<filter-mapping>
				<filter-name>ClusteringGMapApplication</filter-name>
				<url-pattern>/clustering/*</url-pattern>
		</filter-mapping>


		<welcome-file-list>
				<welcome-file>index.html</welcome-file>
		</welcome-file-list>
</web-app>
