table.dta_data_table tr.even { background-color: #F5F5F5; }
table.dta_data_table tr.selected { background-color: yellow; }
table.dta_data_table tr.odd { background-color: #fff; }

table.dta_data_table tr.odd:hover {
	background-color: lightgreen;
}

table.dta_data_table tr.even:hover {
	background-color: lightgreen;
}

table.dta_data_table tr.headers { 
	color: black; 
	text-align: left; 
	padding-top: 3px; 
	padding-bottom: 3px; 
	padding-left: 8px; 
	padding-right: 30px; 
	background-color: #c1e4ff; 
	border-bottom: 1px solid #0079d6; 
	border-top: 1px solid #0079d6; 
	white-space: nowrap; 
	vertical-align: middle; 
}

table.dta_data_table {
	text-align: left;
	/*margin: auto;*/
	z-index:999;
	
}
