.metadata
.settings
.project
.factorypath
target/
.classpath
*.i[mpw][lrs]
.idea/
!faces.taglib.xml
!jsp.taglib.tld
.scala_dependencies
nb-configuration.xml
*~
rebel.xml
.springBeans
workbench.xmi
.vscode

