<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>googlecharts</display-name>
    
    <filter>
        <filter-name>Wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.wicketstuff.googlecharts.examples.ChartsApplication</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>Wicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
