.column {
	/*
	width: 49.5%;
	*/
	margin-right: .5%;
	min-height: 320px;
	float: left;
}

ul.column {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.dragbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dragbox-header {
	margin: 0;
	padding: 5px;
	background: #f0f0f0;
	color: #000;
	border-bottom: 1px solid #eee;
    height: 1.2em;
    cursor: move;
}

.dragbox-header img {
    margin: 0;
    padding: 0px;
}

.dragbox-toggle {
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.dragbox-title {
	float: left;
    font-weight: bold;
}

.dragbox-actions {
	float: right;
	margin: 0px;
	padding: 0px;
	display: none;
}

.dragbox-actions ul {
    padding: 0px;
    margin: 0px;
}

.dragbox-actions ul li {
    display: inline; 
    margin: 0 1px 0 1px;
}

.dragbox-actions ul li a {
    text-decoration: none;	
}

.dragbox-actions ul li a img {
	border: 0px;
	margin: 0px;
}

.dragbox-content {
	background: #fff;
	min-height: 60px;	
	margin: 5px;
	line-height: 1.5em;
	overflow: auto;
}

.placeholder {
	background: #f0f0f0;
	border: 1px dashed #ddd;
}
 