/*
 * Customise the CSS for AnimatedItem to suit my class AnimatedThumbnail
 */
.AnimatedItem
{
	z-index : 0;
}

.AnimatedItem .MouseoverItem,
.AnimatedItem .OnclickItem,
.AnimatedItem .OnloadItem
{	
	width 	: 0px;
	height 	: 0px;
	border  : 0px dashed #CCCCCC;
}