.AnimatedItem .OnloadItem,
.AnimatedItem .MouseoverItem,
.AnimatedItem .OnclickItem  
{
	overflow: hidden;
	background-color : #FFFFFF;
	cursor : pointer;
	z-index : 0;
}

.AnimatedItem
{
	position : relative;
	z-index : 0;
}

.AnimatedItem .OnloadItem 
{
	position : absolute;
	z-index  : 1;
}

.AnimatedItem .MouseoverItem 
{
	position : absolute;
	z-index  : 0;
}

.AnimatedItem .OnclickItem
{
	position : absolute;
	z-index  : 0;
}
