/* Modal CSS */
/* Override this from modal.css because the default is not dark enough methinks */
div.wicket-mask-dark {	
	position: fixed;	
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%;
	opacity: 0.5; 
	-moz-opacity:0.5;  
	background-color: black;
	filter: alpha(opacity=50); 
	background-image: url('transparentBlack50.png');
}

div.wicket-modal div.w_vegas div.w_left,
div.wicket-modal div.w_vegas div.w_right
{
      background-image: none;
      _background-image: none;
}

div.wicket-modal div.w_vegas div.w_right_1 {
	margin-left: 0px;
}

div.wicket-modal div.w_vegas div.w_top,
div.wicket-modal div.w_vegas div.w_bottom,
div.wicket-modal div.w_vegas div.w_topLeft,
div.wicket-modal div.w_vegas div.w_topRight,
div.wicket-modal div.w_vegas div.w_bottomRight,
div.wicket-modal div.w_vegas div.w_bottomLeft
{
      background-image: none;
      _background-image: none;
	  width: 0px;
	  height: 0px;
}

div.wicket-modal form div.w_vegas
{
	/* default to black text in the form */
	color: #000000;

	background-color: #808080;
	border: 1px solid #000000;
}


div.wicket-modal form div.w_vegas div.w_caption
{
	background-color: #808080;
	height: 2em; 
}

div.wicket-modal div.w_vegas  span.w_captionText
{
	top: 3px;
	color: #FFF;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif; 
	margin-left: 12px;
	font-size: 1.0em;
}

div.wicket-modal div.w_vegas a.w_close {
	top: 5px;
	right: 11px;
	background-image: url('frame-gray-1-alpha.png'); 
	_background-image: url('frame-gray-1-ie.png');
	background-color: transparent;
}

div.wicket-modal div.w_vegas div.w_content_1 {
	margin-right: 0px;
}

div.wicket-modal div.w_vegas div.w_content_2 {
	padding-top: 0px;
}

div.wicket-modal div.w_vegas div.w_content_3 {
	border-top: none;
	border-left: 12px solid #808080;
	border-bottom: 12px solid #808080;
	border-right: 12px solid #808080;
	padding: 15px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif; 
}

div.wicket-modal div.w_vegas div.ControlPanel {
	float: right;
	margin-left: auto;
	margin-right: 12px;
	padding-right: 0px;
	padding-left: auto;
}
