body, body div, body p, body th, body td, body li, body dd	{
	font-size:	small;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size:	medium
}

html>body, html>body div, html>body p, html>body th, html>body td, html>body li, html>body dd	{
	font-size:	medium
}
