<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
	<display-name>wicketstuff portlet examples</display-name>

	<filter>
		<filter-name>wicket7echoPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.echo.EchoApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7echoPortlet</filter-name>
		<url-pattern>/wicket7echoPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7formInputPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.forminput.FormInputApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7formInputPortlet</filter-name>
		<url-pattern>/wicket7formInputPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7comprefPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.compref.ComponentReferenceApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7comprefPortlet</filter-name>
		<url-pattern>/wicket7comprefPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7imagesPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.images.ImagesApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7imagesPortlet</filter-name>
		<url-pattern>/wicket7imagesPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7linkomaticPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.linkomatic.LinkomaticApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7linkomaticPortlet</filter-name>
		<url-pattern>/wicket7linkomaticPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7navomaticPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.navomatic.NavomaticApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7navomaticPortlet</filter-name>
		<url-pattern>/wicket7navomaticPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7pubPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.pub.PubApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7pubPortlet</filter-name>
		<url-pattern>/wicket7pubPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7pub2Portlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.pub2.PubApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7pub2Portlet</filter-name>
		<url-pattern>/wicket7pub2Portlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7unicodeConverterPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.unicodeconverter.UnicodeConverterApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7unicodeConverterPortlet</filter-name>
		<url-pattern>/wicket7unicodeConverterPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7niceUrlPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.niceurl.NiceUrlApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7niceUrlPortlet</filter-name>
		<url-pattern>/wicket7niceUrlPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7ajaxPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.ajax.builtin.AjaxApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7ajaxPortlet</filter-name>
		<url-pattern>/wicket7ajaxPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7repeaterPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.repeater.RepeaterApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7repeaterPortlet</filter-name>
		<url-pattern>/wicket7repeaterPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7treePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.tree.TreeApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7treePortlet</filter-name>
		<url-pattern>/wicket7treePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7uploadPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.upload.UploadApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7uploadPortlet</filter-name>
		<url-pattern>/wicket7uploadPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7templatePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.template.TemplateApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7templatePortlet</filter-name>
		<url-pattern>/wicket7templatePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7mailTemplatePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.asemail.MailTemplateApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7mailTemplatePortlet</filter-name>
		<url-pattern>/wicket7mailTemplatePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7browserInfoPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.hellobrowser.HelloBrowserApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7browserInfoPortlet</filter-name>
		<url-pattern>/wicket7browserInfoPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7ajaxBrowserInfoPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.ajaxhellobrowser.HelloBrowserApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7ajaxBrowserInfoPortlet</filter-name>
		<url-pattern>/wicket7ajaxBrowserInfoPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7framesPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.frames.FramesApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7framesPortlet</filter-name>
		<url-pattern>/wicket7framesPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7prototypePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.ajax.prototype.PrototypeApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7prototypePortlet</filter-name>
		<url-pattern>/wicket7prototypePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7abacadabraPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.wizard.WizardApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7abacadabraPortlet</filter-name>
		<url-pattern>/wicket7abacadabraPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7customTemplateLoadingPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.customresourceloading.CustomResourceLoadingApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7customTemplateLoadingPortlet</filter-name>
		<url-pattern>/wicket7customTemplateLoadingPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7breadcrumbPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.customresourceloading.CustomResourceLoadingApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7breadcrumbPortlet</filter-name>
		<url-pattern>/wicket7breadcrumbPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7captchaPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.captcha.CaptchaApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7captchaPortlet</filter-name>
		<url-pattern>/wicket7captchaPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7kittenCaptchaPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.kittenCaptcha.WicketApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7kittenCaptchaPortlet</filter-name>
		<url-pattern>/wicket7kittenCaptchaPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7datesPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.dates.DatesApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7datesPortlet</filter-name>
		<url-pattern>/wicket7datesPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<filter>
		<filter-name>wicket7stockquotePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.stockquote.StockQuoteApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7stockquotePortlet</filter-name>
		<url-pattern>/wicket7stockquotePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7guestbookPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.guestbook.GuestBookApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7guestbookPortlet</filter-name>
		<url-pattern>/wicket7guestbookPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7hangmanPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.hangman.HangmanApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7hangmanPortlet</filter-name>
		<url-pattern>/wicket7hangmanPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7guicePortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.guice.GuiceApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7guicePortlet</filter-name>
		<url-pattern>/wicket7guicePortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7beanValidationPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.bean.validation.BeanValidationApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7beanValidationPortlet</filter-name>
		<url-pattern>/wicket7beanValidationPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7resourceDecorationPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.resourcedecoration.ResourceDecorationApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7resourceDecorationPortlet</filter-name>
		<url-pattern>/wicket7resourceDecorationPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7eventsPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.events.EventsApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7eventsPortlet</filter-name>
		<url-pattern>/wicket7eventsPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>wicket7requestMapperPortlet</filter-name>
		<filter-class>org.apache.wicket.portlet.PortletFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.apache.wicket.examples.requestmapper.RequestMapperApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket7requestMapperPortlet</filter-name>
		<url-pattern>/wicket7requestMapperPortlet/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
		
<!-- 
	<servlet>
		<servlet-name>PortletServletwicket7echoPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7echoPortlet</servlet-name>
		<url-pattern>/wicket7echoPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7formInputPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7formInputPortlet</servlet-name>
		<url-pattern>/wicket7formInputPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7comprefPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7comprefPortlet</servlet-name>
		<url-pattern>/wicket7comprefPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7imagesPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7imagesPortlet</servlet-name>
		<url-pattern>/wicket7imagesPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7linkomaticPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7linkomaticPortlet</servlet-name>
		<url-pattern>/wicket7linkomaticPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7navomaticPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7navomaticPortlet</servlet-name>
		<url-pattern>/wicket7navomaticPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7pubPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7pubPortlet</servlet-name>
		<url-pattern>/wicket7pubPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7pub2Portlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7pub2Portlet</servlet-name>
		<url-pattern>/wicket7pub2Portlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7unicodeConverterPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7unicodeConverterPortlet</servlet-name>
		<url-pattern>/wicket7unicodeConverterPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7niceUrlPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7niceUrlPortlet</servlet-name>
		<url-pattern>/wicket7niceUrlPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7ajaxPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7ajaxPortlet</servlet-name>
		<url-pattern>/wicket7ajaxPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7repeaterPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7repeaterPortlet</servlet-name>
		<url-pattern>/wicket7repeaterPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7treePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7treePortlet</servlet-name>
		<url-pattern>/wicket7treePortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7uploadPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7uploadPortlet</servlet-name>
		<url-pattern>/wicket7uploadPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7templatePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7templatePortlet</servlet-name>
		<url-pattern>/wicket7templatePortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7mailTemplatePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7mailTemplatePortlet</servlet-name>
		<url-pattern>/wicket7mailTemplatePortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7browserInfoPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7browserInfoPortlet</servlet-name>
		<url-pattern>/wicket7browserInfoPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7ajaxBrowserInfoPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7ajaxBrowserInfoPortlet</servlet-name>
		<url-pattern>/wicket7ajaxBrowserInfoPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7framesPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7framesPortlet</servlet-name>
		<url-pattern>/wicket7framesPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7prototypePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7prototypePortlet</servlet-name>
		<url-pattern>/wicket7prototypePortlet/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PortletServletwicket7abacadabraPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7abacadabraPortlet</servlet-name>
		<url-pattern>/wicket7abacadabraPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7customTemplateLoadingPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7customTemplateLoadingPortlet</servlet-name>
		<url-pattern>/wicket7customTemplateLoadingPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7breadcrumbPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7breadcrumbPortlet</servlet-name>
		<url-pattern>/wicket7breadcrumbPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7captchaPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7captchaPortlet</servlet-name>
		<url-pattern>/wicket7captchaPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7kittenCaptchaPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7kittenCaptchaPortlet</servlet-name>
		<url-pattern>/wicket7kittenCaptchaPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7datesPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7datesPortlet</servlet-name>
		<url-pattern>/wicket7datesPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7stockquotePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7stockquotePortlet</servlet-name>
		<url-pattern>/wicket7stockquotePortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7guestbookPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7guestbookPortlet</servlet-name>
		<url-pattern>/wicket7guestbookPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7hangmanPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7hangmanPortlet</servlet-name>
		<url-pattern>/wicket7hangmanPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7guicePortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7guicePortlet</servlet-name>
		<url-pattern>/wicket7guicePortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7beanValidationPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7beanValidationPortlet</servlet-name>
		<url-pattern>/wicket7beanValidationPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7resourceDecorationPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7resourceDecorationPortlet</servlet-name>
		<url-pattern>/wicket7resourceDecorationPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7eventsPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7eventsPortlet</servlet-name>
		<url-pattern>/wicket7eventsPortlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PortletServletwicket7requestMapperPortlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>org.apache.wicket.portlet.WicketPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServletwicket7requestMapperPortlet</servlet-name>
		<url-pattern>/wicket7requestMapperPortlet/*</url-pattern>
	</servlet-mapping>
-->

	<!-- Liferay listeners -->

	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PluginContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SerializableSessionAttributeListener</listener-class>
	</listener>

	<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>
</web-app>