/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.console {
	background-color: #cccccc;
	padding: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #555;
	height: 400px;
}

.console .title {
	font-size: 13px;
	background-color: #555;
	color:#fff;
	font-weight:bold;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	margin: 0px;
}

.console .title-lang {
	float:right;
	font-size: 13px;
	color:#999;
	font-weight:bold;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	margin-right: 10px;
}

.console .box {
	width: 100%;
	background-color: #aabbcc;
	padding: 2px;
	margin-bottom:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #999999;
}
.console .controls {
	height:20px;
	width: 100%;
	background-color: #567;
	padding: 0px;
	margin-bottom:2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #999999;
}


.console .input {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.console .box textarea {
	width: 100%;
	height: 130px;
	font-family: Courier New;
	font-size: 10pt;
}

.console .controls .storePanel {
	/*margin-left:140px;*/
	white-space:nowrap;	
}

.console .controls .indicator {
	margin-top: 3px;
}

.console .result {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.console .result .returnValue input[type='text'] {
	width: 100%;
	font-family: Courier New;
	font-size: 10pt;
}

.console .result .output textarea {
	width: 100%;
	height: 150px;
	font-family: Courier New;
	font-size: 10pt;
}
.console .output textarea.error {
	color: #f00;
}
.console .shortcut {
	font-size: 8pt;
	color: #444444;
	padding: 2px 4px;
	margin-left: 0px;
	margin-right: 4px;
	background-color: #cde;
}