<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>wicketstuff-push-examples</display-name>

	<filter>
		<filter-name>wicket</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.wicketstuff.push.examples.ExampleApplication</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>wicket</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>cometd</servlet-name>
		<servlet-class>org.cometd.server.CometdServlet</servlet-class>
		<init-param>
			<param-name>timeout</param-name>
			<param-value>15000</param-value>
		</init-param>
		<init-param>
			<param-name>multi-timeout</param-name>
			<param-value>1500</param-value>
		</init-param>
		<init-param>
			<param-name>verbose</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>transports</param-name>
			<param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cometd</servlet-name>
		<url-pattern>/cometd/*</url-pattern>
	</servlet-mapping>

</web-app>
