<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Swarm Examples</title>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="css/reset-fonts-grids.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

<!-- STYLESHEET FOR BUGGY BROWSERS -->
<!--[if IE]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
	<![endif]-->
</head>
<body>
<wicket:panel>
<div id="loginBox">
<div class="loginTitle" style="text-align:center;">Warning</div>
<div class="loginFormBox">
<ul>
	<li><span wicket:id="message">Unauthorized to view contents</span></li>
</ul>
</div>
<div class="loginFooter"></div>
</div>
</wicket:panel>
</body>
</html>