<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.wicketstuff.jquery">
		<level value="DEBUG" />
	</logger>

	<root>
		<!-- level of the root level is set to INFO by default.    -->
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>