body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
	font-size: 79%;
}

h1 {
	margin: 0px;
	padding: 0.8em 0.5em;
	font-size: 180%;	
}

div.leftMenu {
	float: left;
	width: 20em;
}		

div.leftMenu * {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: block;
}

div.leftMenu div.caption {
	font-weight: bold;
	margin-left: 1em;
	border-bottom: 2px solid #ddd;
	margin-bottom: 0.2em;
}

div.leftMenu ul {
	margin-left: 1em;
}

div.leftMenu a {
	color: blue;
	text-decoration: none;
}

div.leftMenu a:hover {
	text-decoration: underline;
}

div.leftMenu a, div.leftMenu em {
	display: block;
	padding: 0.1em;
}

div.leftMenu ul li {
	_border-bottom: 1px solid white; /* to make IE6 happy */
}

div.leftMenu a {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

div.leftMenu em {
	background-color: #f9f9f9;
	font-style: normal;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

div.leftMenu div.spacer {
	height: 1em;
	overflow: hidden;
}

div.exampleBody {
	background-color: white;
	margin-left: 22.1em;
	margin-right: 1em;
}

div.footer {	
	clear: both;	
	padding-top: 1em;	
	font-size: 80%;
}

div.footer div {
	border-top: 1px solid #ddd;
	padding-left: 1em;
	padding-top: 0.5em;
}

div.option em {
	font-weight: bold;
	font-style: normal;
}

div.option a {
	color: blue;
	text-decoration: none;
}

div.option a:hover {
	text-decoration: underline;
}

span.label {
	color: #555
}
