@CHARSET "ISO-8859-1";

body,p,li,span,div,td,th,input,select,a,em {
	font-family: tahoma, arial, serif;
	color: #555;
	font-size: 10pt;
}

textarea {
	font-family: courier new;
}

input,select {
	
}

h1, h1 a {
	font-family: 'Terminal Dosis Light', arial, serif;
	font-size: 32pt;
}

h2,h3 {
	font-family: tahoma, arial, serif;
}
h2 {
	padding: 0;
	margin: 0;
	font-size: 36pt;
	color: #FF5500;
}

h3 {
	padding: 0;
	margin: 0;
	font-size: 10pt;
	color: #444;
	padding: 2px;
}

h3 a {
	font-size: 10pt;
}

h3 span.state em {
	color: #777;
	font-size: 10pt;
	font-style:normal;
}


body {
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 87px;
	background-color: #eee;
	margin-top: 0;
	padding-top: 10px;
	border-bottom: 1px solid #888;
	z-index: 0;
	color: #555;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 99px;
	background-color: #999;
	border-top: 1px solid #888;
	z-index: 0;
}

#footer .feedback {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#footer .feedback .feedbackPanelERROR {
	color: #a00;
}

#footer ul li,#footer span {
	display: inline;
	color: #fff;
	font-size: 16pt;
}

#footer a {
	color: #fff;
}

#main-wrapper {
	text-align:center;
	
}

#main {
	width: 800px;
	margin: 10px auto;
}


.list-table td {
	padding: 2px;
}

.scriptlist-table {
	position: relative;
	height: 300px;
	max-height: 300px;
	overflow-y: auto;
	width: 260px;
}

.scriptlist-table table {
	
}

.scriptlist-table td.title-col div {
	width: 150px;
	overflow-x: hidden;
}

.scriptlist-table td.title-col a span {
	white-space: nowrap
}

.scriptlist-table .paging {
	position: absolute;
	bottom: 0;
	width: 255px;
	text-align: center;
	background-color: #ddd;
	padding: 2px;
}

.scriptlist-table .paging em {
	color: #555;
}

.scriptlist-table .paging a {
	color: #555;
}

.form-table td {
	padding: 2px;
}