<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		version="6.0"
		metadata-complete="true">

	<display-name>WicketStuff SpringReference - Example Web Application</display-name>

	<context-param>
		<param-name>wicket.configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- first app using @SpringBean and url "/bean" -->
	<filter>
		<filter-name>springBeanWicketApp</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.wicketstuff.springreference.examples.springbean.App</param-value>
		</init-param>
	</filter>

	<!-- second app using SpringReference and url "/ref" -->
	<filter>
		<filter-name>springReferenceWicketApp</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.wicketstuff.springreference.examples.springreference.App</param-value>
		</init-param>
	</filter>

	<!-- third app using AbstractSpringDependencies and url "/deps" -->
	<filter>
		<filter-name>springDependenciesWicketApp</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.wicketstuff.springreference.examples.springdependencies.App</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>springBeanWicketApp</filter-name>
		<url-pattern>/bean/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springReferenceWicketApp</filter-name>
		<url-pattern>/ref/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springDependenciesWicketApp</filter-name>
		<url-pattern>/deps/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
