<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Wicket Contrib Cometd Examples</display-name>

    <servlet>
        <servlet-name>wicket-contrib-cometd-examples</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>org.wicketstuff.push.examples.application.ExampleApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
        
    <servlet>
	    <servlet-name>cometd</servlet-name>
	    <servlet-class>org.mortbay.cometd.continuation.ContinuationCometdServlet</servlet-class>
	    <init-param>
	      <param-name>timeout</param-name>
	      <param-value>15000</param-value>
	    </init-param>
	    <init-param>
	      <param-name>multi-timeout</param-name>
	      <param-value>1500</param-value>
	    </init-param>
	    <init-param>
	      <param-name>verbose</param-name>
	      <param-value>false</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	  </servlet>

    <servlet-mapping>
        <servlet-name>wicket-contrib-cometd-examples</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    
    <!-- Cometd -->


	  <servlet-mapping>
	    <servlet-name>cometd</servlet-name>
	    <url-pattern>/cometd/*</url-pattern>
	  </servlet-mapping>

</web-app>
