tr.odd {
	background-color: rgb(245, 252, 248);
}

tr.even {
	background-color: #FFFFFF;
}

tr.onMouseOver {
	background-color: #E9601A;
}

tr.selected {
	background-color: #018787;
}
img.arrow{
	float: right;
}