/* CSS for all Horizontal Slider Bars */

DIV.horizWrapper 	{
	border		: 0px solid #F00;
	padding		: 0px;
	margin		: 0px;
}

DIV.horizBGDiv 	{
    position 	: relative;
	float		: left;
	cursor		: pointer;
	z-index		: 5;
	padding		: 0px;
	margin 		: 0px;
	border		: 0px solid #0F0;
} 

DIV.horizHandleDiv { 
    position 	: relative;
    cursor		: pointer;
   	padding		: 0px;
	margin 		: 0px;
	border		: 0px solid #00F;	
}

DIV.horizThumbDiv { 
    position 	: relative;
    cursor		: pointer;
   	padding		: 0px;
	margin 		: 0px;
	border		: 0px solid #0000FF;	
}

DIV.horizCornerImg {
	float 	: left;
	border	: 0px solid #FF00FF;
	cursor	: pointer;
} 