<style>
.toasterContainer${id} {
	display: block;
	position: absolute;
	${vertical}: ${verticalpx};
	${horizontal}: ${horizontalpx};
	z-index: 5000;
	margin: 0px;
	font: 0.75em Tahoma, Helvetica, Verdana, Arial;
}

.toasterContent${id} {
	z-index: 5000;
	padding: 1em;
	padding-top: 0.25em;
	border-width: 1px;
	border-color: ${border-color};
	background-color: ${background-color};
	border-style: solid;
}
</style>